{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> Bistro_Test App</h1>
            </div>

            <div id="next">
                <h2>Bonus Cards</h2>

                {#{{ dump() }}#}
                {#{{ grid(grid) }}#}
                {#{{ grid(grid, 'APYDataGridBundle::blocks_js.jquery.html.twig') }}#}

                {#{% block gridView %}{% endblock %}#}

                {{ grid(grid, 'APYDataGridBundle::blocks_js.jquery.html.twig') }}

                {#{{ include('BonusCard/grid.html.twig', { 'grid': grid }) }}#}
                {#{{ render(controller(#}
                    {#'AppBundle:BonusCard:grid',#}
                    {#{ 'max': 3 }#}
                {#)) }}#}

                {#{{ render_hinclude(controller('AppBundle:Default:index'),  {#}
                    {#'default': grid(grid)#}
                {#}) }}#}

            </div>

        </div>
    </div>
{% endblock %}

