{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">

            <div id="welcome">
                <h1><span>Welcome to</span> <a href="{{ path('homepage') }}">Bistro_Test App</a></h1>
            </div>

            <h2>Bonus Card ID: {{ bonus_card.id }}</h2>

            <p>series: {{ bonus_card.series }}</p>
            <p>number: {{ bonus_card.number }}</p>
            <p>issueDate: {{ bonus_card.issueDate|date("M d, Y") }}</p>
            <p>expDate: {{ bonus_card.expDate|date("M d, Y") }}</p>
            <p>status: {{ bonus_card.status }}</p>
            <p>last card usage date: {{ bonus_card.lastUsage|date("M d, Y") }}</p>
            <p>total purchases amount: ${{ bonus_card.purchasesAmount }}</p>

            <h2>Purchases history:</h2>

            {% for value in bonus_card.history %}
                <p>productName: {{ value.productName }}</p>
                <p>productPrice: ${{ value.productPrice }}</p>
                <p>date: {{ value.date|date("M d, Y") }}</p>
                <hr/>
            {% endfor %}



        </div>
    </div>
{% endblock %}

